<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechatapp.project.system.user.mapper.StudentMapper">

    <resultMap id="StudentResult" type="Student">
        <id property="id" column="id"/>
        <result column="studentid" property="studentId"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="phone" property="phone"/>
        <result column="college" property="college"/>
        <result column="class" property="classes"/>
        <result column="photo" property="photo"/>
    </resultMap>
    <select id="findAllStudents" resultMap="StudentResult">
          select  * from students
    </select>
    <select id="findByStudentId" resultMap="StudentResult" parameterType="Integer">
    select * from students where  studentid = #{studentId}
    </select>
    <insert id="addStudent" parameterType="Student">
        insert into students (studentid,name,sex,phone,college,class,photo) values (#{studentId},#{name},#{sex},#{phone},#{college},#{classes},#{photo})
    </insert>
    <update id="alterStudent" parameterType="Student">
        update students set  studentid=#{studenId},name=#{name },sex=#{sex},phone=#{phone},college=#{college},class=#{classes},photo=#{photo} where id=#{id}
    </update>
    <delete id="delStudentById" parameterType="Integer">
        delete * from  students  where studentid  =#{studentid}
    </delete>
</mapper>