<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>南工后台管理系统</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/main-css.css">
    <script src="../../static/js/jquery-3.4.1.min.js"></script>
    <script src="../../static/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="../../static/js/index.js"></script>
</head>
<body>
<div class="bodydiv">
    <!--左侧导航栏开始-->
    <nav class="navleft">
        <div class="slimScrollDiv">
            <ul class="ul-one">
                <a href="#">
                    <li class="logo">
                        <span>WetChatApp</span>
                    </li>
                </a>
                <div class="navLuserPic">
                        <a href="#">
                            <img src="../../static/images/icon/headimg.png" alt="">
                        </a>
                        <div class="navLuserText">
                            <p>admin</p>
                            <a href="#">
                                <i>·</i>
                                在线
                            </a>
                            <a href="#">
                                <i>·</i>
                                注销
                            </a>
                        </div>
                    </div>
                <li>
                    <a href="#">
                        <img src="../../static/images/icon/house.png" alt="">
                        <span>个人主页</span>
                        <img  class="right" src="../../static/images/icon/right.png" alt="">
                    </a>
                    <ul class="ul-h">
                        <li><a href="#">了解我们</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <img src="../../static/images/icon/session.png" alt="">
                        <span>系统管理</span>
                        <img src="../../static/images/icon/right.png" alt="">
                    </a>
                    <ul class="ul-h">
                        <li><a href="#">用户管理</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <img src="../../static/images/icon/menu.png" alt="">
                        <span>目录管理</span>
                        <img src="../../static/images/icon/right.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../static/images/icon/book.png" alt="">
                        <span>日志管理</span>
                        <img src="../../static/images/icon/right.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!--左侧导航栏结束-->

    <!--右侧部分开始-->
    <div class="wrapperRight">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom:0">
                <ul class="nav navbar-top-links navbar-right welcome-message">
                    <li>
                        <a href="#">
                            <img src="../../static/images/icon/问号.png" alt="">
                            开发文档
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../static/images/icon/全屏.png" alt="">
                            全屏显示
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../static/images/icon/headimg.png" alt="">
                            <span>用户</span>

                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">个人中心</a></li>
                            <li><a href="#">修改密码</a></li>
                            <li><a href="#">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <!--内容开始-->
        <div id="MyCenter"></div>
        <!--内容结束-->
    </div>
    <!--右侧部分结束-->



</div>
<script>
    $("#MyCenter").load('user/profile.html');
</script>
</body>
</html>