*{
    margin:0;
    padding:0;
}
.bodydiv{
    width: 100%;
    height: 714px;
}
.nav-top{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #3c8cbb;
}
.nav-top>.row>.logoleft{
    position: absolute;
    left: 10px;
    top: 10px;
}
.nav-top>.row>.row1>ul{
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
}
.nav-top>.row>.row1>ul>li{
    list-style: none;
    float: left;
    height: 100%;
    width: 100px;
    background-color: #3c8cbb;
}
.nav-top>.row>.row1>ul>li:hover{
    background-color: #367fa9;
}
.nav-top>.row>.row1>ul>li>a{
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 12px;
}
.nav-top>.row>.row1>ul>li>a>img{
    width: 16px;
    height: 16px;
    margin-right: 2px;
}
.ulhidden2{
    display: none;
    width: 100px;
    height: 90px;
    background-color: #3b88b9;
}
.nav-top>.row>.row1>ul>li>.ulhidden2>li{
    list-style: none;
}
.nav-top>.row>.row1>ul>li>.ulhidden2>li:hover{
    background-color: #357aa5;
}
.nav-top>.row>.row1>ul>li>.ulhidden2>li>a{
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #fff;
}
.nav-top>.row>.row1>ul>li>.ulhidden2>li>a:hover{
    color:#fff;
}
.nav-left{
    position: absolute;
    width: 10%;
    /*min-width: 150px;*/
    height: 100%;
    background-color: #2f4050;
}
.headimg{
    width: 100%;
    height: 60px;
    padding: 12px;
}
.headimg>.headimg-l>img{
    float: left;
    width: 40px;
    height: 40px;

}
.headimg>.headimg-r{
    float: left;
    margin-left: 8px;
}

.headimg>.headimg-r>a{
    font-size: 12px;
    color: #fff;
}
.nav-left>ul>li{
    position: relative;
    list-style: none;
    width: 100%;
    height: 40px;
    background-color: #2f4050;
}
.nav-left>ul>li:hover{
    background-color: #203040;
}
.nav-left>ul>li a{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    line-height: 40px;
    color: #a6b0c1;
    padding-left: 25px;
}
.nav-left>ul>li>a>img{
    position: absolute;
    left: 5px;
    top: 10px;
    width: 16px;
    height: 16px;
}

.nav-left>ul>li>.ulhidden{
    display: none;
    width: 100%;
    height: 60px;
    padding-top: 40px;
}
.nav-left>ul>li>.ulhidden>li>a{
    padding-left: 25px;
    font-size: 12px;
}
.nav-left>ul>li>.ulhidden>li{
    margin-top: -20px;
}

.nav-left>ul>li p{
    position: absolute;
    right: 3px;
    top: 7px;
    color: #fff;
}