*{
    margin:0;
    padding:0;
}
body{
    background: url("../images/3.jpg") no-repeat;
    background-size: 1536px 760px;
   /* background: linear-gradient(#3b3f48, #5e6474,#3b3f48);*/
    width: 1500px;
    height: 750px;
    display: block;
}
.indexbox{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 850px;
    height: 300px;
    border-bottom: 2px solid #4a4d53;
    border-top: 2px solid #4a4d53;
}
.statediv{
    position: absolute;
    left: 0%;
    top: 10%;
    width: 550px;
    height: 300px;
    color: #c7c9ce;
}
.logindiv{
    position: absolute;
    right: 0%;
    top: 13%;
    box-sizing: border-box;
    padding: 20px;
    width: 300px;
    height: 220px;
    /*border: 2px solid #0097e6;*/
    border-radius: 10px;
    background-color: rgba(75, 74, 74, 0.4);
}
.logindiv>form input{
    width: 165px;
    height: 25px;
    border:1px solid #fff;
    border-radius: 4px;
}
.logindiv>form>p {
    text-align: center;
    color: #eef0fa;
}
.logindiv>form>#logindiv-input{
    position: absolute;
    left: 21%;
    top: 25%;
}
.logindiv>form>#logindiv-input>input{
    margin-bottom: 12px;
}
.logindiv>form>#logindiv-code{
    position: absolute;
    left: 21%;
    top: 60%;
}
.logindiv>form>#logindiv-code>input{
    width: 100px;
    hight: 32px;
}
.logindiv>form>#logindiv-code>.imgdiv{
    position: absolute;
    right: -65px;
    bottom: 0;
    width: 60px;
    height: 26px;
    border-radius: 4px;
    background-color: #2aabd2;
}
.logindiv>form>#logindiv-code>.imgdiv>img{
    width: 60px;
    height: 26px;
}
.logindiv>form>button{
    width: 167px;
    height: 26px;
    position: absolute;
    left: 21%;
    bottom: 8%;
    background-color: #2d8cf0;
    border:1px solid #2d8cf0;
    border-radius: 4px;
    color: #eef0fa;
}